<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Stephaneum700 (12.3.2019)</display-name>
	
	<welcome-file-list>
		<welcome-file>home.xhtml</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>StaticServlet</servlet-name>
		<servlet-class>servlet.StaticServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>servlet.ImageServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PublicFileServlet</servlet-name>
		<servlet-class>servlet.PublicFileServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PreviewServlet</servlet-name>
		<servlet-class>servlet.PreviewServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SliderServlet</servlet-name>
		<servlet-class>servlet.SliderServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>VertretungServlet</servlet-name>
		<servlet-class>servlet.VertretungServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RobotsServlet</servlet-name>
		<servlet-class>servlet.RobotsServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SitemapServlet</servlet-name>
		<servlet-class>servlet.SitemapServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StaticServlet</servlet-name>
		<url-pattern>/s/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PublicFileServlet</servlet-name>
		<url-pattern>/public/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>PreviewServlet</servlet-name>
		<url-pattern>/preview/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SliderServlet</servlet-name>
		<url-pattern>/slider/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VertretungServlet</servlet-name>
		<url-pattern>/vertretungsplan.pdf</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RobotsServlet</servlet-name>
		<url-pattern>/robots.txt</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SitemapServlet</servlet-name>
		<url-pattern>/sitemap.xml</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{themeService.selectedTheme}</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
	</context-param>
	
	<context-param>
	    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
	    <param-value>131072</param-value>
	</context-param>
	
	<mime-mapping>
		<extension>jsp</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>font/woff2</mime-type>
	</mime-mapping>
	
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	
	<error-page>
	    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
	    <location>/login.xhtml</location>
	</error-page>
	
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	
	<!-- unten den security-constraint Block kommentiert lassen, falls KEINE Weiterleitung 80->443 -->
	
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted URLs</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->
</web-app>