/* ALWAYS SHOW VERTICAL SCROLLBAR*/

body {
    overflow-y: scroll;
}

/* TOP MENUBAR */

.centeredMenuBar.ui-menubar {
  	text-align: center;
}
.centeredMenuBar .ui-menu-list {
	  display: inline-block;
}

.centeredMenuBar a {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.centeredMenuBar {
	top:0px !important;
	width:932px !important;
	position:fixed !important;
	transform: translateX(0%) !important;
	z-index:+99 !important;
	height:25px !important;
}

/* OBJECTS */

#hidden-div {
	width: 1200px;
	margin: auto;
	margin-top:-10px;
}

#big-div {
	width:1000px;
	min-height:1000px;
	margin-left:180px;
	height:auto;
	background-color:#{themeService.panelColor};
}

.beitrag-div {
	width:890px;
}

.beitrag-text-div {
	width:890px;
}

.beitrag-text-div-1 {
	width:650px;
}

#bottom {
	width:1000px;
	margin-left:180px;
	text-align: center;
}

/* MOBILE */

@media screen and (min-width: 1100px) {
	
    .hideMobile {
        display: none !important;
    }
}

/* ICON-SIZE */

.fa-eye {
	font-size:15px;
}

.fa-unlock-alt{
	font-size:15px;
}

.fa-globe {
	font-size:15px;
}

.fa-trash {
	font-size:15px;
}

.fa-arrows {
	font-size:15px;
}

.fa-cloud-download {
	font-size:15px;
}

.fa-search {
	font-size:15px;
}

.fa-commenting-o {
	font-size:15px;
}

.fa-check-circle {
	font-size:15px;
}

/* EDITOR */
.ui-editor-toolbar {
	background: #F5F5F5 !important;
}

/* SCROLLBAR */
.ui-scrollpanel-drag.ui-state-highlight {
	background-color: #689f38 !important;
	background-image: linear-gradient(to bottom, #7cb342, #689f38) !important;
}